a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(74, 110, 19);
    text-decoration: wheat;
    text-shadow: grey;
}

a:hover {
    color: hotpink;
}

.active {
    font-size: larger;
    font-family: fantasy;
    border: 2px solid rgb(209, 71, 61);
}

img {
    width: 200px;
    border: 10px solid  rgb(61, 86, 167);
    padding: 10px;
    margin: 10px;
}

img:hover:nth-child(3n+3) {  
    border: 10px solid rgb(209, 71, 61);
}


#background{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    color: white;
    background-image: url(../images/background.jpg);
    padding: 130px 0px 130px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px black;
    background-attachment: fixed;
    width: 100vw;
}

body {
    font-family: 'Poppins', serif;
}

@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

#background h1{
    font-size: larger;
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 5s; 
    animation-name: 'fadeIn';
    animation-duration: 5s;
    background-color: rgb(169, 169, 235);
}

/* #history {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
} */

footer{
    /* grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1; */
    background-color: #326DED;
    font-size: 20px;
    width: 100vw;
    text-align: center;
    position: relative;
    bottom: 0;
    padding: 20px 0px 20px 0px;

}

footer p{
    text-align: center;
    font-size: 32pt;
    font-weight: bold;
}

.gallary{
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

@media only screen and (min-width: 900px) {
  .grid-container {
    background-color: grey;
}
}

@media screen and (prefers-reduced-motion: reduce) {
  #background h1 {
      animation: none;
  }
}
